$theme-colors: (
  "primary": #00509d,
  "success": green,
  "info": #fdc500,
  "danger": red,
);

@import "~bootstrap/scss/bootstrap";

body {
  background: #dcebfd;
  font-family: 
  'Ubuntu',
  sans-serif;
}

.navbar {
  margin: 10px;
  background: transparent;
  font-weight: 500;
  font-size: larger;
  height: 80px;
}

.nav-link {
  color: #00509d;
}

.nav-link:hover {
  color: #80a8ce;
}

.link {
  text-decoration: none;
}

.btn.btn-primary.signup {
  border: 1px solid #00509d;
  border-radius: 50px;
  margin: 0 0 0 12px;
  font-size: 20px;
  color: white;
  font-weight: 500;
  padding: 8px 20px;
}

.static-card-col {
  height: 100vh;
  margin: 0px;
  padding: 20px;
  border: 1px solid white;
  background-color: white;
  border-radius: 1px;
}

.static-card {
  h4 {
    color: #00509d;
  };
  padding: 30px;
  background: #F0F5F9;
  border: 1px solid #F0F5F9;
  border-radius: 25px;
  width: 100%;
  box-shadow: #B8CFE4 0px 8px 28px;
}

.registration-img-card {
  background-image: url('../images/boyy.png');
  opacity: 0.5;
}

.registration-teacher-img-card {
  background-image: url('../images/teacher.png');
  opacity: 0.5;
}

.form-control {
  border: 1px solid #80a8ce;
  border-radius: 12.5px;
  padding: 12px;
}

.phone {
  padding: 10px;
  input {
    border: 1px solid transparent
  }
}

.btn.outlined-btn {
  margin-top: 12px;
  padding: 8px 16px;
  color: #00509d;
  font-size: large;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 12.5px;
}

.outlined-btn:hover {
  margin-top: 12px;
  padding: 8px 16px;
  color: #00509d;
  font-size: large;
  text-decoration: underline;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 12.5px;
}

.btn-signup {
  margin-top: 12px;
  padding: 8px 16px;
  color: white;
  font-size: large;
  background: #00509d;
  border: 1px solid #00509d;
  border-radius: 12.5px;
}

.btn-signup:hover {
  margin-top: 12px;
  padding: 8px 16px;
  color: #00509d;
  font-size: large;
  background: transparent;
  border: 1px solid #00509d;
  border-radius: 12.5px;
}
.btn-go-back:hover {
  border: 2px dotted #00509d;
  border-radius: 12.5px;
  color:#00509d;
  opacity: 1;
}

.profile-page-container {
  // width: 100vw;
  // height: 100vh;
  background: white;
}

.profile-access-denied-card {
  background: #FCFDFE;
  border: 1px solid #B8CFE4;
  box-shadow: #DCEBFD 0px 6px 32px;
}

.edit-profile-btn {
  font-weight: 500;
  font-size: larger;
  margin: 24px 0px 32px 0px;
  padding: 16px auto;
  color: #00509d;
  background-color: transparent;
  border: 2px dotted #00509d;
  border-radius: 12.5px;
}

hr {
  color: #00509d;
}

.btn.outlined-btn:active {
  border: 1px solid transparent;
  background-color: transparent;
  color: #80a8ce;
}



.profile-avatar-img {
  margin-top: 0px;
  border: 1px solid #80a8ce;
  border-radius: 12.5px;
  box-shadow: #DCEBFD 0px 6px 12px;
}
.p-link-btn {
  color: #00509d;
  background-color: transparent;
}
.p-link-btn.nav-link:active {
  background-color: #00509d;
}

.p-link-btn.nav-link:focus {
  background-color: #00509d;
}
.active {
  background-color: transparent;
}

.student-class-abcd {
  border: 1px solid #80a8ce;
  border-radius: 12.5px;
  
  h1 {
    height: 120px;
    font-size: 84px;
    font-weight: 300;
    color:#00509d;
  }
  h6 {
    font-size: 20px;
    font-weight: 400;
    color:#00509d;
  }
}

.select-input {
  border: 1px solid #80a8ce;
  border-radius: 12.5px;
  padding: 12px;
}

.emp-nav-link, .stu-nav-link:active {
  color:#00509d
}

.emp-nav-link, .stu-nav-link:focus {
  color:#00509d
}

.subject-btn {
  margin: 12px 0;
  padding: 0px;
  height: 260px;
  border: 1px solid #80a8ce;
  border-radius: 12.5px;
  background-color: white;
  color:#003d77;
  font-size: larger;
  font-weight: 600;
  p {
    margin: 0;
    background-color: #155FA5;
    border: 1px solid #DCEBFD;
    color: white
  }
}

.subject-btn:active {
  background-color: #B8CFE4;
}

.subject-btn:hover {
  background-color: #F0F5F9;
  border: 3px solid #00509d;
  color: #00509d;
}

.subject-btn:focus {
  // background-color: #155FA5;
  border: 6px solid #00509d;
  color: white;
}

.subject-kaz-img {
  background-image: url('../images/kaz.jpeg');
  background-size: cover;
  opacity: 0.7;
}

.subject-math-img {
  background-image: url('../images/math.png');
  background-size: cover;
  opacity: 0.7;
}

.subject-history-img {
  background-image: url('../images/history.jpg');
  background-size: cover;
  opacity: 0.7;
}

.subject-english-img {
  background-image: url('../images/english.png');
  background-size: cover;
  opacity: 0.7;
}